.DS_Store
*.aux

*.log

*.blg

*.gz

*.toc

.texpadtmp/

LaTeX/.texpadtmp/Mason PhD Dissertation.log

LaTeX/.texpadtmp/Mason PhD Dissertation.aux

LaTeX/.texpadtmp/Mason PhD Dissertation.aux

LaTeX/.texpadtmp/Mason PhD Dissertation.bbl

LaTeX/.texpadtmp/Mason PhD Dissertation.blg

LaTeX/.texpadtmp/Mason PhD Dissertation.lof

LaTeX/.texpadtmp/Mason PhD Dissertation.lot

LaTeX/.texpadtmp/Mason PhD Dissertation.synctex.gz

LaTeX/.texpadtmp/Mason PhD Dissertation.toc

LaTeX/.texpadtmp/Mason PhD Dissertation.out
